body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  padding: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 30px;
}

.nav-bar .Motto p {
  color: black;
  font-size: 18px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-bar li {
  display: inline;
}

.nav-bar button {
  background-color: #0a2496;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nav-bar button:hover {
  background-color: #94acd2;
}

.welcome-text {
  font-size: 32px;
  color: #333;
  margin-top: 20px;
}

.dashboard-content {
  width: 80%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-content h2 {
  text-align: center;
  color: #005f73;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #005f73;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #124377;
  color: white;
  margin-top: 20px;
  
}
